[submodule "deps/command_prompt"]
	path = deps/command_prompt
	url = https://github.com/theIDinside/command_prompt
	branch = working
[submodule "deps/libelfin"]
	path = deps/libelfin
	url = https://github.com/TartanLlama/libelfin
	branch = fbreg
